.post-item {
	padding: 0px;
	margin-bottom: 60px;
}
.block_pc_img {
	height: 25em;
}
.post-item-wrap {
	border: 5px outset silver;
	position: relative;
	width: 15em;
}
.post-meta {
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	font-size: 18px;
	padding: 0 0 10px 15px;
	margin-bottom: 75%;
	position: relative;
	display: inline-flex;
	align-items: center;
	border-bottom: 1px solid #ff7760;
}