.block_registration {
    width: 100%;
    padding-top: 1em;
}
.user_date {
    width: 12.7em;
}

.error_test {
    position: relative;
    width: 8.5em;
    height: 4em;
    /* top: 1.5em;
    left: 33.7em; */
    top: -24.5em;
    left: 16.5em;
    color: red;
}

.posit {
    margin-top: -20px;
}

td>input {
    width: 100%;
}